In [1]:
book = {'Rich dad poor dad', 'Muna Madan', 'Harry Potter', 'Tuin'}

In [2]:
book

{'Harry Potter', 'Muna Madan', 'Rich dad poor dad', 'Tuin'}

In [3]:
type(book)

set

In [4]:
# set are unordered, unindexed and does not allow duplicate value

In [5]:
num = {3, 4, 3, 5}

In [6]:
num

{3, 4, 5}

In [7]:
book = {'Rich dad poor dad', 'Muna Madan', 'Harry Potter', 'Tuin'}

In [9]:
book[0] # no indexing in set -- unindexed

TypeError: 'set' object is not subscriptable

# looping in set

In [12]:
books = {'Rich dad poor dad', 'Muna Madan', 'Harry Potter', 'Tuin'}

In [13]:
for book in books:
    print(book)

Muna Madan
Tuin
Harry Potter
Rich dad poor dad

# Set items are unchangeable, but you can remove items and add new items.

In [14]:
cities = {'kathmandu', 'Bhaktapur', 'Lalitpur', 'Kavre'}

In [15]:
cities.add('Dharan')

In [16]:
cities

{'Bhaktapur', 'Dharan', 'Kavre', 'Lalitpur', 'kathmandu'}

In [17]:
cities.remove('Kavre')

In [18]:
cities

{'Bhaktapur', 'Dharan', 'Lalitpur', 'kathmandu'}

In [19]:
cities.remove('Ilam') # you cannot remove item that does not exist

KeyError: 'Ilam'

In [21]:
cities.discard('Ilam') # if you dont want error use discard()

# set operation: union, intersection, difference

In [22]:
A = {'apple', 'banana', 'cherry'}
B = {'google', 'microsoft', 'apple'}

In [23]:
A.union(B)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [24]:
B.union(A)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [25]:
A

{'apple', 'banana', 'cherry'}

In [26]:
B

{'apple', 'google', 'microsoft'}

In [27]:
A.intersection(B)

{'apple'}

In [28]:
B.intersection(A)

{'apple'}

In [29]:
A.difference(B)

{'banana', 'cherry'}

In [31]:
B.difference(A)

{'google', 'microsoft'}

In [32]:
A - B

{'banana', 'cherry'}

In [33]:
B - A

{'google', 'microsoft'}

# The set() constructor -- type convert to set

In [34]:
set1 = set(('apple', 'banana', 'cherry', 'apple'))

In [35]:
set1

{'apple', 'banana', 'cherry'}

In [38]:
set2 = set([1, 2, 3, 4, 5, 4, 1])

In [39]:
set2

{1, 2, 3, 4, 5}

# Immutable version of python set is frozenset()

In [40]:
tec_company = {'Google', 'Facebook', 'OpenAI', 'Microsoft', 'Tik-Tok'}

In [41]:
tec_company

{'Facebook', 'Google', 'Microsoft', 'OpenAI', 'Tik-Tok'}

In [42]:
tec_company.add('Samsung')

In [43]:
tec_company

{'Facebook', 'Google', 'Microsoft', 'OpenAI', 'Samsung', 'Tik-Tok'}

In [44]:
tec_company = frozenset(tec_company)

In [45]:
tec_company.add('Airbnb') # you cannot add or remove item in frozenset

AttributeError: 'frozenset' object has no attribute 'add'