# Keywords cannot be variable name

* python keywords cannote be variable names

In [1]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [2]:
global = "hi"

SyntaxError: invalid syntax (4248838980.py, line 1)

# Python keywords are case sensitive

In [3]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [6]:
false = 5 # lowercase and uppercase are different -- case sensitive

In [7]:
false

5

# We cannot use special symbols like !, @, #, $, %, etc in our identifier

In [8]:
@name = python

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1910592905.py, line 1)

In [9]:
$number = 1

SyntaxError: invalid syntax (1351983224.py, line 1)

# use digit at last

In [10]:
9rollno = 'rajesh'

SyntaxError: invalid decimal literal (3721180390.py, line 1)

In [11]:
rollno9 = 'rajesh'

In [12]:
rollno9

'rajesh'

In [13]:
first name = 'ram' # no space allowed

SyntaxError: invalid syntax (1755522144.py, line 1)

In [16]:
first_name = 'Ram' # use underscore to join multilple words

In [17]:
first_name

'Ram'

In [18]:
roll_no_9_test = 12

In [19]:
k_ = 55

In [20]:
k_

55

# Variables in python are case sensitive

In [21]:
a = 20
A = 99
print(f'a = {a}')
print(f'A = {A}')

a = 20
A = 99

In [22]:
print("a = {}".format(a))

a = 20