# list is a collection of items under one variable name

In [1]:
order = ["Momo", "Samosa", "Chiyaa", "Roti Nan"]

In [2]:
type(order)

list

# list supports multiple data type

In [3]:
l = [True, 20.5, 9, "Kshitiz"]

In [4]:
l

[True, 20.5, 9, 'Kshitiz']

# list supports duplicate

In [5]:
["lux", "Kit-Kat", "Dal", "lux"]

['lux', 'Kit-Kat', 'Dal', 'lux']

# list are ordered

In [6]:
cars = ['Mercedes Benz', "Rolls Royce", 'Bugati', 'Lambo']

In [7]:
cars

['Mercedes Benz', 'Rolls Royce', 'Bugati', 'Lambo']

# Indexing in list

In [8]:
cars[1]

'Rolls Royce'

In [9]:
cars[0]

'Mercedes Benz'

In [10]:
cars[2]

'Bugati'

In [11]:
cars[3]

'Lambo'

# slicing in python list

In [12]:
cars = ['Mercedes Benz', 
        "Rolls Royce", 
        'Bugati', 
        'Lambo', 
        'Audi',
       "Bently"]

In [13]:
cars[1:4]

['Rolls Royce', 'Bugati', 'Lambo']

In [14]:
cars[:3]

['Mercedes Benz', 'Rolls Royce', 'Bugati']

In [15]:
cars[2:]

['Bugati', 'Lambo', 'Audi', 'Bently']

In [17]:
cars[:5]

['Mercedes Benz', 'Rolls Royce', 'Bugati', 'Lambo', 'Audi']

In [19]:
cars[1:6:2] # 2 step jump starting from 1 to 6(excluded)

['Rolls Royce', 'Lambo', 'Bently']

# loops in list

In [21]:
cars = ['Mercedes Benz', 
        "Rolls Royce", 
        'Bugati', 
        'Lambo', 
        'Audi',
       "Bently"]

for index in range(len(cars)):
    car = cars[index]
    
    print(f"{car} is in index {index}.")

Mercedes Benz is in index 0.
Rolls Royce is in index 1.
Bugati is in index 2.
Lambo is in index 3.
Audi is in index 4.
Bently is in index 5.

In [22]:
fruits = ['Apple',
         "Banana",
         'Grapes',
         "Orange",
         "Papaya",
         "Mango"]

for index in range(len(fruits)):
    fruit = fruits[index]
    
    print(f"The fruit {fruit} is in index {index}.")

The fruit Apple is in index 0.
The fruit Banana is in index 1.
The fruit Grapes is in index 2.
The fruit Orange is in index 3.
The fruit Papaya is in index 4.
The fruit Mango is in index 5.

# alternative for loop

In [23]:
fruits = ['Apple',
         "Banana",
         'Grapes',
         "Orange",
         "Papaya",
         "Mango"]

for item in fruits:
    print(item)

Apple
Banana
Grapes
Orange
Papaya
Mango

In [24]:
nums = [2, 34, 65, 88, 90, 100, 12, 23]
for number in nums:
    print(number)

2
34
65
88
90
100
12
23

In [28]:
nums = [2, 34, 65, 88, 90, 100, 12, 23]
total = 0
for number in nums:
    total = total + number
mean = total/len(nums)
print(f"The mean is {mean}")

The mean is 51.75

In [27]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
total = 0
n = len(nums)
for num in nums:
    total = total + num
mean = total/n
print(f"The mean is {mean}")

The mean is 5.0

In [30]:
nums = [33, 2, 6, 44, 77]
total = 0
n = len(nums)

for index in range(n):
    number = nums[index]
    total = total + number
mean = total/n
print(f"The mean is {mean}")

The mean is 32.4

In [31]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
total = 0
n = len(nums)
for index in range(n):
    num = nums[index]
    total = total + num
mean = total/n
print(f"The mean is {mean}")

The mean is 5.0

In [32]:
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]
t = 0
n = len(scores)

for score in scores:
    t = t + score
mean = t / n
print(f"The mean is {mean}")

The mean is 47.2

In [33]:
scores = [20, 22, 59, 49, 27, 0, 62, 40, 58, 92, 36, 63, 75, 50, 73, 7, 49, 82, 1, 79]
t = 0
n = len(scores)

for index in range(n):
    score = scores[index]
    t = t + score
mean = t / n
print(f"The mean is {mean}")

The mean is 47.2