In [8]:
car = ('Tesla', 'Mercedes', 'Audi', 'Bently', 'Tesla')

In [9]:
car

('Tesla', 'Mercedes', 'Audi', 'Bently', 'Tesla')

In [10]:
car[0] # indexing

'Tesla'

In [11]:
car[-1] # negative indexing

'Tesla'

In [12]:
car[1:] # slicing

('Mercedes', 'Audi', 'Bently', 'Tesla')

In [13]:
car[:3]

('Tesla', 'Mercedes', 'Audi')

In [14]:
car[::-1]

('Tesla', 'Bently', 'Audi', 'Mercedes', 'Tesla')

In [15]:
# tuples: immutable, ordered, allows duplicate value, allows multiple data

In [16]:
car[0] = 'Bugati'

TypeError: 'tuple' object does not support item assignment

# collect even and odd numbers in a list from tuple

In [21]:
data = (88, 9, 5, 6)
even = []
odd = []
for number in data:
    if number % 2 == 0:
        even.append(number)
    
    else:
        odd.append(number)
        
print(even, odd)

[88, 6] [9, 5]

# we cannot change, add or remove items after the tuple has been created but type conversion to list can make it happen

In [22]:
car = ('Tesla', 'Mercedes', 'Audi', 'Bently', 'Tesla')

In [23]:
type(car)

tuple

In [24]:
car = list(car)

In [25]:
type(car)

list

In [26]:
car.append('Ferrari')

In [27]:
car

['Tesla', 'Mercedes', 'Audi', 'Bently', 'Tesla', 'Ferrari']

In [28]:
car = tuple(car)

In [29]:
car

('Tesla', 'Mercedes', 'Audi', 'Bently', 'Tesla', 'Ferrari')